<!DOCTYPE html>
<html>
  <head>
    <title>TeleChatGPT</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap">
    <style>
      body {
        background-color: #1a1a1a;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 700;
        color: white;
        text-shadow: 2px 2px red;
      }
      .container {
        max-width: 800px;
        margin: 0 auto;
        text-align: center;
        padding: 50px;
      }
      iframe {
        margin-top: 20px;
        border: none;
        width: 100%;
        padding: 4px;
        background: #f9f9f9;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1 class="mt-5 mb-3">TeleChatGPT</h1>
      <p>TeleChatGPT is a highly advanced Telegram bot that utilizes the remarkable capabilities of ChatGPT 3.5 turbo to offer unparalleled chat services. With its sophisticated algorithms, TeleChatGPT can understand human language and provide coherent, intelligent, and natural responses in real-time. Whether you're looking for assistance with your daily tasks, need direction on your next travel destination, or want to have a casual conversation with a bot, TeleChatGPT has got you covered. It's precise, efficient, and simplifies chat experience. Powered by one of the leading language models globally, TeleChatGPT guarantees smooth communication, making it the go-to bot for Telegram users.</p>

      <h2 class="mt-5 mb-3">Support the Creator</h2>
      <iframe id='kofiframe' src='https://ko-fi.com/patrizothedev/?hidefeed=true&widget=true&embed=true&preview=true' height='712' title='patrizothedev'></iframe>
    </div>
  </body>
</html>
